## Creating a set

In [ ]:
my_set = {'john@example.com', 'jane@example.com', 'doe@example.com'}
print(my_set)

In [ ]:
print(type(my_set))

##### Creating a set of numbers

In [ ]:
numbers_set = {1, 2, 13, 4, 5.0, 6.7}
print(numbers_set)
print(type(numbers_set))

##### Creating a set with mixed types

In [ ]:
mixed_set = {1, 1.5, "Hello"}
print(mixed_set)
print(type(mixed_set))

##### Creating empty sets

In [ ]:
empty_set = {}  
print(empty_set)
print(type(empty_set))

In [ ]:
empty_set = set() 
print(empty_set)
print(type(empty_set))

##### Creating sets using lists

In [ ]:
list= ['john@example.com', 'jane@example.com', 'doe@example.com']
print(type(list))

In [ ]:
list_set = set(list)
print(type(list_set))

### Accessing elements

In [ ]:
print(my_set[0])

In [ ]:
for email in my_set:
    print(email)

##### Using in operator

In [ ]:
print('john@example.com' in my_set)

In [ ]:
print('john@example.com' not in my_set)

In [ ]:
print('john22@example.com' in my_set)

In [ ]:
print('john22@example.com' not in my_set)

## Characteristics of set

### 1. You cannot modify a set after its created

In [ ]:
my_set[0] = "jonny@example.com"
print(my_set)

### 2. Sets don't have an order

In [ ]:
print(my_set)

### 3. Sets does not allow duplicates

In [ ]:
my_set_new = {'john@example.com', 'jane@example.com', 'jane@example.com', 'doe@example.com'}
print(my_set_new)